
@import url('https://fonts.googleapis.com/css2?family=Phudu:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Phudu:wght@300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


*{
    padding: 0px;
    margin: 0px;
    font-family: "Ubuntu", sans-serif;

    
}
.banner-home {
    background: url('../images/skyscraper.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 93vh;
}
body {
    background-color: rgb(235 234 233);
}
a.mode {
    background: #fff;
    padding: .1rem;
    border-radius: 50%;
}
.header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 10rem;
}
.Home {
    font-family: "Phudu", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    color: #000;
    font-style: normal;
    font-size: 2.5rem;
    text-decoration: none;
    transition: color 1s, transform 1s;
}
.Home:hover{
    transform:scale(1.2);
    color:red;
}
.bar-top {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem 6rem;
    border-radius: 2.5rem;
    background-color: #fff;
}
.bar-top a {
    color: #000;
    text-decoration: none;
    margin-left: 1.9rem;
    font-weight: 500;
    transition:color 1s,transform 1s;
}
.bar-top a:hover{
    transform: scale(1.2);
    color: red;
}
.Tools-bar-top a {
    text-decoration: none;
    color: black;
    margin-right: 1rem;
}
.Tools-bar-top {
    color: #000;
    display: flex;
    align-items: center;
}
.title h1 {
    font-size: 10rem;
    font-family: "Phudu", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    right: 0;
    position:relative;
    animation: title-intro 2s 
}
@keyframes title-intro{
    0%{
        opacity: 0;
        transform: scale(0.0);
    }
    30%{
        right: 10rem;
    }
    100%{
        opacity: 1;
        right: 0;
        
    }
}
.box {
    margin: 0px 11%;
}
.btn{
    padding:.5rem 2rem ;
    color: #fff;
    background-color: #000;
    border-radius: 40px;
    border:none;
    text-decoration: none;
}
.Benner {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.header-bottom {
    font-family: "Phudu", sans-serif;
    display: flex;
    justify-content: space-around;
    background: white;
    padding: 1.5rem 3rem;
    position: absolute;
    width: 40%;
    bottom: .4rem;
    border-radius: 3.5rem;
}
.header-bottom div p{
    font-family: "Phudu", sans-serif;
    margin-top: .3rem;
}
.header-bottom-bt {
    display: flex;
    justify-content: center;
}
.material-symbols-outlined{
    background-color: red;
    border-radius: 50%;
    padding: 9px;
}
.header-bottom div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-bottom>div:nth-child(1) span {
    background: rgb(198 234 191);
    color: #27b803;
}
.header-bottom>div:nth-child(1) p {
    color: #27b803;
    
}
.header-bottom>div:nth-child(2) span {
    background: #ead5bc;
    color: #b8760b;
}
.header-bottom>div:nth-child(2) p {
    color: #b8760b;
}

.header-bottom>div:nth-child(3) span {
    background: #cda2ca;
    color: #b322ad;
}
.header-bottom>div:nth-child(3) p {
    color: #b322ad;
}

.header-bottom>div:nth-child(4) span {
    background: #989cc6;
    color: #0e0eae;
}
.header-bottom>div:nth-child(4) p {
    color: #0e0eae;
}
/*page properties*/
.Buildings {
    width: 31%;
    position: relative;
    height: 25rem;
    background: #e2e1e1;
    gap: 1.5rem;
    display: flex;
    overflow: hidden;
    border-radius: 20px;
    flex-direction: column;
}
.Buildings img {
    max-width: 100%;
    height: 70%;
}
.Buildings button {
    position: absolute;
    right: 10px;
    padding: .5rem 2rem;
    border-radius: 20rem;
    border: none;
    background: #000;
    color: #fff;
    bottom: .7rem;
}
.Buildings  h1 {
    font-family: "Phudu", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    position: relative;
    left: 1rem;
}
.properties {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.box-Buildings {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1.6rem;
}
.properties h1 {
    font-weight: 500;
    font-family:"Phudu", sans-serif;;
}
/*page contact*/

.banner-contact {
    background: url('../images/email.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 93vh;
}
.address{
    font-family: "Phudu", sans-serif;
}
.Bu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info-contact {
    height: 450px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
}
.info-contact h1 {
    font-size: 1.3rem;
}
iframe.google-map {
    width: 52.9rem;
    border-radius: 20px;
}

/*mode dark*/
.banner-home-dark{
    background: url('../images/skyscraper-dark.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 93vh;
}
.Benner-dark {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: #fff;
}
.font-dark{
    color:#fff !important
}
.font-dark a{
    color:#fff !important
}
.font-dark p{
    color:#fff !important
}
.background-dark{
    background-color: #282828 !important;
}
.mode-dark svg{
    fill: #fff !important;
}
.border-dark{
    background: #282828;
    padding: .1rem;
    border-radius: 50%;
}
.body-dark{
    background-color: #323232;
}
.background-dark>div:nth-child(1) span {
    background: #2e5428;
    color: #29bf04;
}

.background-dark>div:nth-child(2) span {
    background: #543f25;
    color: #bc790a;
}


.background-dark>div:nth-child(3) span {
    background: #592756;
    color: #c50dbd;
}


.background-dark>div:nth-child(4) span {
    background: #222558;
    color: #161acd;
}
