{% extends "base_pages/base.html" %}
{% load static %}
{% block title %}contact{% endblock %}
{%block NameClassBackground%}banner-contact{%endblock%}
{% block head%}


<div class="properties {% if request.COOKIES.mode == 'dark' %}font-dark{% endif %}">
    <h1>contact us</h1>
    <div class="Bu">
        <div class="info-contact">
            <h1>
                telephone: <a style="color: blue !important;" href="tel:+96657263883764">+966 57263883764</a>
            </h1>
            <h1>
                email: <a style="color: blue !important;"href="mailto:info@realeastate.com">info@realeastate.com</a>
            </h1>
            <h1>
                address:
            </h1>
            <p class="address">
                anas bin malik,riyadh<br>
                building w-112<br>
                saudi arabia
            </p>
        </div>
        <div class="loaction">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3621.068900633677!2d46.72505437592144!3d24.827317246581877!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2efc6d472d42af%3A0x24b3a53de9cbc5c3!2sPark%20Avenue%20Mall!5e0!3m2!1sen!2ssa!4v1720717810815!5m2!1sen!2ssa" width="600" class="google-map" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>

{% endblock %}