{% extends "base_pages/base.html" %}
{% block title %}naif{% endblock %}
{%block NameClassBackground%}home{%endblock%}
{% block head%}


<div class="Benner">
    <div class="title">
        <h1>FIND YOUR <br>DREAMS</h1>
    </div>
    <div class="paragraph">
        <P>Our catalog will surprise you. Rather, discover an unprecendented offers of luxury properties. Our <br>catalog will surprise you. Rather, discover an unprecendented offers of luxury properties.</P>
    </div>
    <div>
        <button class="btn">Expolore Properties</button>
    </div>
</div>

<div class="bar-button">

</div>
</div>
</div>
<div class="header-bottom-bt">
<div class="header-bottom">
<div>
    <span class="material-symbols-outlined">
        house
    </span>
    <p>All</p>
</div>
<div>
    <span class="material-symbols-outlined">
        factory
        </span>
        <p>properties</p>
</div>
<div>
    <span class="material-symbols-outlined">
        hotel
        </span>
        <p>HOTEL</p>
</div>
<div>
    <span class="material-symbols-outlined">
        villa
        </span>
        <p>villa</p>
</div>
</div>

{% endblock %}