{% extends "base_pages/base.html" %}
{% block title %}Home{% endblock %}
{% block NameClassBackground %} 
{% if  HttpRequest.COOKIES.mode == 'dark'%}
banner-home-dark
{% else %}
banner-home
{% endif %}
{%endblock%}
{% block head%}


<div class="Benner {% if request.COOKIES.mode == 'dark' %}font-dark{% endif %}">
    <div class="title">
        <h1>FIND YOUR <br>DREAMS</h1>
    </div>
    <div class="paragraph">
        <P>Our catalog will surprise you. Rather, discover an unprecendented offers of luxury properties. Our <br>catalog will surprise you. Rather, discover an unprecendented offers of luxury properties.</P>
    </div>
    <div>
        <a href="{% url 'WebsiteHome:properties' %}" class="btn">Expolore Properties</a>
    </div>
</div>

<div class="bar-button">

</div>
</div>
</div>
<div class="header-bottom-bt">
<div class="header-bottom {% if request.COOKIES.mode == 'dark' %}background-dark font-dark{% endif %}">
<div>
    <span class="material-symbols-outlined">
        house
    </span>
    <p>All</p>
</div>
<div>
    <span class="material-symbols-outlined">
        factory
        </span>
        <p>properties</p>
</div>
<div>
    <span class="material-symbols-outlined">
        hotel
        </span>
        <p>HOTEL</p>
</div>
<div>
    <span class="material-symbols-outlined">
        villa
        </span>
        <p>VILLA</p>
</div>
</div>

{% endblock %}